.nav-link{
    color: grey;
}

/*menù*/
.barra-menu{
    background-color: #051e34;
    height: 100%;
    padding-top: 60px;
}

#option{
    height: calc(100% - 80px);
}

#option i{
    width: 20px;
}

/*boolean app*/
.boolean{
    padding-top: 55px;
    overflow: scroll;
}

.bg-blue{
    background-color: #165bba;
    font-size: 10px;
}

.boolean i{
    font-size: 10px;
}

#sinistra{
    width: 70%;
}

#destra{
    width: 30%;
}


#seleziona:hover{
    background-color: rgba(255, 255, 255, 0.5)
}

@media screen and ( max-width: 768px ){

    #tab{
        display: flex;
        flex-direction: column;
    }

    #sinistra{
        width: 100%;
    }

    #destra{
        width: 100%;
    }

}

@media screen and ( max-width: 480px ){

    #app{
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .small{
        display: none;
    }

}
